<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head_meta.html %}

  <body>
    {% include masthead.html %}
    {% include banner.html %}

    <div class="container">
      <section id="main_content">
        <center>
          <h1>{{ page.title }}</h1>
        </center>
        <p class="view">by {% if page.author_url %}<a href="{{ page.author_url }}">{{ page.author }}</a>{% else %} {{ page.author }} {% endif %}</p>
        <small>{{ page.date | date_to_long_string }}</small>

        {{ content }}
      </section>
    </div>
  </body>
</html>
